@import "tailwindcss";

:root {
  --background: #0a0a0f;
  --foreground: #ffffff;
}

.bg-mockup {
  position: absolute;
  inset: 0;
  background-image: url('/mockup.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.08;
  z-index: 0;
  pointer-events: none;
}


:root {
  --color-primary: #342F80; /* morado */
  --color-secondary: #24F06B;
  --color-danger: #FF0000;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-soft: #D4D1FA;
  --font-bricolage: "Bricolage Grotesque", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

main > section {
  backdrop-filter: blur(0px);
}